<section class="second-section" id="info-general">
  <h2>Hola amigo lector</h2>

  <div class="container-foto">
    <div class="name-foto">
      <div class="content-name">
        <p>Mi nombre es</p>
        <p class="name">angy giraldo</p>
      </div>
    </div>
  </div>

  <div class="text-content">
    <p>
      El 5 de diciembre de 2021 -día en que fallece mi hermano- mi vida tuvo un
      antes y un después.
    </p>
    <p>
      Steven era no solo mi hermano, era mi mejor amigo, mi consejero, mi
      compañero de baile, mi padrino y casi mi papá... ¡Él sencillamente lo era
      todo para mí!
    </p>
    <p>
      Durante casi 26 años que compartimos, además de enseñarme a trabajar en
      ser mi mejor versión, fue mi mayor inspiración.
    </p>
    <p>
      Con su ejemplo me demostró lo que era disfrutar realmente la vida,
      mantenerse libre de situaciones que generaran preocupación y vivir el
      presente como el gran regalo que tenemos.
    </p>
  </div>

  <div class="line"></div>

  <div class="text-title">
    <h2>
      La pregunta es: ¿vivimos cada día con intensidad o la rutina nos lleva en
      piloto automático?
    </h2>
  </div>

  <div class="line"></div>

  <div class="text-content margin">
    <p>
      A partir de la muerte de mi hermano, comencé a cuestionarme todo lo que él
      me había enseñado, la huella tan grande que dejó marcada en todos sus
      amigos, familia y conocidos.
    </p>
    <p>
      Supe, con ayuda de Dios, que debía escribir este libro, no solo para dejar
      un legado de él, sino además para inspirar a millones de personas a vivir
      en plenitud, un estado que muchos anhelamos alcanzar... ¡Y así fue la vida
      de Steven!
    </p>
  </div>
</section>
