<div class="container">
  <div class="header">
    <span class="material-icons" (click)="dialogRef.close(false)"> close </span>
  </div>

  <div class="texto">
    <p>Déjanos tus datos y sé de los</p>
    <p>primeros en adquirir La Trilogía del</p>
    <p>Propósito cuando esté disponible,</p>
    <p>con una oferta especial</p>
  </div>

  <div class="content">
    <form [formGroup]="formSuscribe">
      <div class="form-col">
        <input
          class="form-input"
          formControlName="nombre"
          type="text"
          placeholder="Nombre"
          [ngClass]="{ 'input-error': validateInput('nombre') }"
        />
        <span
          class="error"
          *ngIf="
            formSuscribe.controls['nombre'].invalid &&
            formSuscribe.controls['nombre'].touched
          "
        >
          Debe llenar el nombre
        </span>
      </div>

      <div class="form-col">
        <input
          class="form-input phone"
          formControlName="celular"
          type="text"
          placeholder="Celular"
          [ngClass]="{ 'input-error': validateInput('celular') }"
        />

        <span class="error" *ngIf="formSuscribe.get('celular')?.errors?.['required'] && formSuscribe.get('celular')?.touched">
          Debe llenar el celular
        </span>
        <span class="error" *ngIf="formSuscribe.get('celular')?.errors?.['minlength']">
          Debe tener mínimo 10 números
        </span>
        <span class="error" *ngIf="formSuscribe.get('celular')?.errors?.['maxlength']">
          Debe tener máximo 10 números
        </span>
      </div>

      <div class="form-col">
        <input
          class="form-input"
          email="true"
          formControlName="correo"
          type="email"
          placeholder="Correo"
          [ngClass]="{ 'input-error': validateInput('correo') }"
        />
        <span
          class="error"
          *ngIf="
            formSuscribe.controls['correo'].hasError('required') &&
            formSuscribe.controls['correo'].touched
          "
        >
          Debe llenar el correo
        </span>

        <span
          class="error"
          *ngIf="formSuscribe.controls['correo'].hasError('email')"
        >
          El correo no es valido
        </span>
      </div>

      <div class="form-col check">
        <input
          type="checkbox"
          class="check-autoriza"
          formControlName="autoriza"
        />
        <p>Autorizo el tratamiento de datos personales</p>
      </div>
    </form>

    <div class="button">
      <button class="btn" (click)="sendEmail()" [disabled]="formSuscribe.invalid">Suscribirme</button>
    </div>
  </div>
</div>
