@import "/src/styles.scss";

.quarter-section {
  padding: 40px 30px 85px 30px;

  h2 {
    text-align: center;
    font-size: 27px;
    color: $colorViolet;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .container {
    p {
      color: $colorBlack;
      margin-bottom: 20px;
    }

    a {
      cursor: pointer;
      color: $colorViolet;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media screen and(min-width: 800px) {
  .quarter-section {
    .container {
      margin: 0 auto;
      width: 600px;
    }
  }
}
