<div class="container">
  <div class="header">
    <span class="material-icons" (click)="dialogRef.close(false)"> close </span>
  </div>

  <h2>TRATAMIENTO DE DATOS PERSONALES</h2>

  <div class="text">
    <p>
      De acuerdo con la Ley Estatutaria 1581 de 2012 de Protección de Datos y
      sus normas reglamentarias, doy mi consentimiento, como Titular de los
      datos, para que éstos sean incorporados en una base de datos
      responsabilidad de la marca ANGIRALDO mediante su página web
      <a href="www.angiraldo.com" target="_blank">www.angiraldo.com</a>, para que sean tratados con el fin de desarrollar su
      actividad comercial.
    </p>
  </div>
</div>
