<div class="container">
  <div class="header">
    <span class="material-icons" (click)="dialogRef.close(false)"> close </span>
  </div>

  <h2>TRATAMIENTO DE DATOS PERSONALES</h2>

  <div class="text">
    <p>
      De acuerdo con la Ley Estatutaria 1581 de 2012 de Protección de Datos y
      sus normas reglamentarias, doy mi consentimiento, como Titular de los
      datos, para que éstos sean incorporados en una base de datos
      responsabilidad de la marca ANGIRALDO mediante su página web
      <a href="www.angiraldo.com" target="_blank">www.angiraldo.com</a>, para
      que sean tratados con el fin de desarrollar su actividad comercial.
    </p>

    <p>
      La finalidad del tratamiento será la que se defina en cada caso concreto,
      respetando en todo momento con los principios básicos que marca la Ley.
    </p>
    <p>
      La posibilidad de ejercitar los derechos de acceso, corrección, supresión,
      revocación o reclamo por infracción sobre mis datos, con un escrito
      dirigido a ANGIRALDO a la dirección de correo electrónico
      angiraldo.datos@gmail.com, indicando en el asunto el derecho que desea
      ejercitar.
    </p>
    <p>
      La política de tratamiento a la que se encuentran sujetos los datos
      personales se podrá consultar o acceder a través del siguiente correo
      electrónico: angiraldo.datos@gmail.com
    </p>
  </div>
</div>
