<div class="six-section">
  <h2>BONUS</h2>
  <div class="cel">
    <p>
      Si compras el libro el día del LANZAMIENTO, tendrás una oferta especial en
      los siguientes 2 libros de la Trilogía del Propósito.
    </p>
  </div>

  <div class="desktop">
    <p>Si compras el libro el día del LANZAMIENTO, tendrás</p>
    <p>una oferta especial en los siguientes 2 libros de la</p>
    <p>Trilogía del Propósito.</p>
  </div>

  <div class="row">
    <div class="col-1">
      <h3>Próximamente</h3>
      <img
        src="../../../../assets/img/tipografias/Titulos-04.png"
        alt="Titulos-04"
        width="300px"
      />

      <p class="list">1. Vive con propósitos</p>
      <p class="list">2. Una muerte con propósito</p>
      <p class="list">3. Encuentra tu propósito</p>

      <div class="text-trilogy desktop">
        <p class="max">Esta trilogía</p>
        <p>te inspirará a vivir o morir con propósito</p>
      </div>
    </div>

    <div class="col-2">
      <div class="center">
        <img
          src="../../../../assets/img/libros/Libro-03.png"
          alt="Libro-03"
          width="280px"
        />
      </div>

      <div class="text-trilogy cel">
        <p class="max">Esta trilogía</p>
        <p>te inspirará a vivir o morir con propósito</p>
      </div>
    </div>
  </div>

  <div class="center mb">
    <app-buy-button></app-buy-button>
  </div>
</div>
