<div class="six-section">
  <h2>BONUS</h2>
  <p>
    Si compras el libro el día del LANZAMIENTO, tendrás una oferta especial en
    los siguientes 2 libros de la Trilogía del Propósito.
  </p>

  <h3>Próximamente</h3>
  <img
    src="../../../../assets/img/tipografias/Titulos-04.png"
    alt="Titulos-04"
    width="300px"
  />

  <p class="list">1. Vive con propósitos</p>
  <p class="list">2. Una muerte con propósito</p>
  <p class="list">3. Encuentra tu propósito</p>

 <div class="center">
  <img src="../../../../assets/img/libros/Libro-03.png" alt="Libro-03" width="280px">
 </div>

 <div class="text-trilogy">
    <p class="max">Esta trilogía</p>
    <p>te inspirará a vivir o morir con propósito</p>
 </div>

 <div class="center mb">
  <app-buy-button></app-buy-button>
 </div>
</div>
