@import "/src/styles.scss";

.six-section {
  background-color: $colorDarkBlue;
  padding: 40px 35px;

  h2 {
    font-size: 20px;
    color: $colorWhite;
    text-align: center;
    margin-bottom: 30px;
    line-height: 18px;
  }

  p {
    color: $colorWhite;
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 20px;
  }

  h3 {
    font-size: 20px;
    color: $colorWhite;
    line-height: 18px;
  }

  .list {
    text-align: left;
    margin-bottom: 3px;
  }

  .center {
    text-align: center;
    margin-top: 20px;
  }

  .text-trilogy {
    margin-top: 20px;
    margin-bottom: 30px;

    p {
      color: $colorWhite;
      margin-bottom: 4px;
    }

    .max {
      font-weight: bold;
      font-size: 22px;
    }
  }
}

.desktop {
  display: none;

  p {
    margin-bottom: 0px;
  }
}

.cel {
  p {
    margin-bottom: 3px;
  }
}

@media screen and(min-width: 700px) {
  .desktop {
    display: block;
  }

  .cel {
    display: none;
  }

  .six-section {
    .row {
      display: flex;

      .col-1, .col-2 {
        width: 50%;
        padding: 30px 0;
      }
    }

    .text-trilogy {
      p {
        text-align: left;
      }
    }
  }
}

@media screen and(min-width: 1000px) {

  .six-section {
    .row {
      .col-1 {
        width: 50%;
        padding: 30px 50px 30px 250px;
      }

      .col-2{
        width: 50%;
        padding: 30px 250px 30px 50px;

        .center > img {}
      }
    }

    .text-trilogy {
      p {
        text-align: left;
      }
    }
  }
}
