@import "/src/styles.scss";

.first-section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../assets/img/fotos/fondo-agua.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding: 120px 40px 50px 40px;
  position: relative;

  h2, p {
    text-align: center;
    color: $colorLightBlue;
    font-size: 14.5px;
    line-height: 18px;
    font-weight: 500;

    span {
      color: $colorWhite;
    }
  }

  p {
    line-height: 20px;
  }

  .img-title {
    margin-bottom: 10px;
  }

  .img-library {
    margin-top: 15px;
  }

  .button {
    margin-top: 40px;
  }
}

.desktop {
  display: none;
}

@media screen and(min-width: 700px) {
  .first-section {
    background-image: url("../../../../assets/img/fotos/Fondo-agua-2.jpg");
  }

  .desktop {
    display: block;
  }

  .cel {
    display: none;
  }
}
