<section class="first-section" id="propositos">
  <div class="desktop">
    <h2>¿Te gustaría <span>vivir una vida plena</span> y encontrar la</h2>
    <h2>tan anhelada felicidad que todos buscamos?</h2>
  </div>

  <div class="cel">
    <h2>¿Te gustaría <span>vivir una vida plena</span></h2>
    <h2>y encontrar la tan anhelada</h2>
    <h2>felicidad que todos buscamos?</h2>
  </div>

  <img
    class="img-library"
    src="../../../../assets/img/libros/Libro-01.png"
    alt="Imagen libro 1"
    width="280px"
  />

  <img
    class="img-title"
    src="../../../../assets/img/tipografias/Titulos-02.png"
    alt="Titulos-02"
    width="250px"
  />

  <div class="desktop">
    <p>es el libro que te enseñará paso a paso los 7</p>
    <p>propósitos para vivir una vida plena.</p>
  </div>

  <div class="cel">
    <p>es el libro que te enseñará paso a</p>
    <p>paso los 7 propósitos para vivir</p>
    <p>una vida plena.</p>
  </div>

  <div class="button">
    <app-buy-button titleButton="¡Quiero leerlo!" hrefButton="#info-general"></app-buy-button>
  </div>
</section>
