<div class="container">
  <div class="header">
    <span class="material-icons" (click)="dialogRef.close(false)"> close </span>
  </div>

  <div class="texto">
    <p>Para proceder con tu compra,</p>
    <p>selecciona una opción:</p>
  </div>

  <div class="buttons">
    <button class="btn-buy one" (click)="redirect('https://checkout.wompi.co/l/YaO6uR')">1 libro + <span>Envío nacional</span></button>
    <button class="btn-buy pack" (click)="redirect('https://checkout.wompi.co/l/hYeApJ')">pack 3 libros + <span>Envío nacional</span></button>
  </div>
</div>
