@import "/src/styles.scss";

.seven-section {
  padding: 80px 35px 80px 35px;
  background-image: url("../../../../assets/img/fotos/Fondo-barco-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 50%;

  p {
    font-size: 14.5px;
    color: $colorWhite;
    margin-bottom: 20px;
  }

  .bold {
    font-weight: bold;
    color: $colorLightBlue;
  }
}

@media screen and(min-width: 800px) {
  .seven-section {
    height: 400px;
    background-image: url("../../../../assets/img/fotos/Fondo-barco-2.jpg");
    background-position: 80% 80%;
    .container {
      margin: 0 auto;
      width: 600px;
    }
  }
}
