@import "/src/styles.scss";

.seven-section {
  padding: 50px 30px 80px 30px;
  background-image: url("../../../../assets/img/fotos/fondo-barco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  p {
    color: $colorWhite;
    margin-bottom: 20px;
  }

  .bold {
    font-weight: bold;
    color: $colorLightBlue;
  }
}
