<section id="library" class="third-section">
  <h2>Al leer este libro:</h2>

  <div class="row">
    <div class="col">
      <div class="text-list" *ngFor="let item of dataList">
        <img [src]="item.src" alt="Icon check" />
        <p>{{ item.text }}</p>
      </div>
    </div>

    <div class="col">
      <div class="image-book">
        <img
          src="assets/img/libros/Libro-02.png"
          alt="Libro 2"
          width="280px"
        />
        <app-buy-button class="btn" (clickButton)="openModal(false)"></app-buy-button>
      </div>
    </div>
  </div>

  <hr class="desktop" />

  <div class="container-center">
    <div class="discount">Aprovecha el descuento por</div>

    <img
      src="assets/img/tipografias/Texto6.png"
      alt="Pack 3 libros"
      width="280px"
    />
  </div>

  <p class="promo">-Para regalar a tus amigos y familiares-</p>

  <div class="vlr-libro">
    <p class="libro">Valor 1 libro: $68.000</p>
    <p class="libro">Pack 3 libros: <span>$204.000</span></p>
    <p class="lanzamiento">25% OFF: <span>$153.000</span></p>
  </div>

  <div class="container-center">
    <button class="btn-pack" (click)="redirect()">COMPRAR PACK 3 LIBROS</button>
  </div>

  <div class="content-info text-cel">
    <p>Compra el PACK 3 LIBROS y</p>
    <p>ayúdanos a difundir e impactar la</p>
    <p>vida de millones de personas</p>
  </div>

  <div class="content-info text-desktop">
    <p>Compra el PACK 3 LIBROS y ayúdanos a difundir</p>
    <p>e impactar la vida de millones de personas</p>
  </div>
</section>
