@import "/src/styles.scss";

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorLightBlue;
  padding: 0px 30px;
  position: fixed;
  z-index: 100;
  top: 0;

  .img-logo {
    width: 133px;
    height: 50px;
    background-image: url("../../../../assets/img/logos/logo-principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .img-icon {
    width: 30px;
    height: 40px;
    background-image: url("../../../../assets/img/logos/icono-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}
