@import "/src/styles.scss";

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $colorLightBlue;
  padding: 40px;

  img {
    margin-bottom: 50px;
  }

  h2 {
    color: $colorViolet;
    margin-bottom: 30px;
  }

  .info-contacto {
    margin-bottom: 50px;
    .icon-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        margin-bottom: 0;
      }

      .icon-correo {
        height: 13px;
      }

      a {
        color: $colorViolet;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .derechos {
    text-align: center;

    p {
      color: $colorWhite;
      font-size: 15px;
    }
  }
}
