<footer class="footer">
  <img
    src="../../../../assets/img/logos/logo-principal.png"
    alt="logo-principal"
    width="160px"
  />

  <h2>CONTACTO</h2>

  <div class="info-contacto">
    <div class="icon-info">
      <img src="../../../../assets/img/iconos/whatsapp.png" alt="whatsapp" />
      <a target="_blank" href="https://api.whatsapp.com/send?phone=3006060617">300 60 60 617</a>
    </div>
    <div class="icon-info">
      <img src="../../../../assets/img/iconos/instagram.png" alt="instagram" />
      <a target="_blank"  href="https://www.instagram.com/angiraldom/?hl=es-la">angiraldom</a>
    </div>
    <div class="icon-info">
      <img src="../../../../assets/img/iconos/correo.png" alt="correo" class="icon-correo" />
      <a href="mailto:angiraldodesigner@gmail.com">angiraldodesigner@gmail.com</a>
    </div>
  </div>

  <div class="derechos">
    <p>&copy; TODOS LOS DERECHOS RESERVADOS</p>
    <p>ANGIRALDO 2023</p>
  </div>
</footer>
