@import "/src/styles.scss";

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorLightBlue;
  padding: 0px 30px;
  position: fixed;
  z-index: 1000;
  top: 0;

  .img-logo {
    width: 120px;
    height: 45px;
    background-image: url("../../../../assets/img/logos/logo-principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .icon {
    display: flex;
    align-items: center;
    .img-icon {
      width: 20px;
      height: 30px;
      background-image: url("../../../../assets/img/logos/icono-menu.png");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }

    p {
      display: none;
      margin-right: 8px;
      color: $colorWhite;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

@media screen and(min-width: 700px) {
  .header {
    .icon {
      p {
        display: inline-block;
      }
    }
  }
}
