/* Import Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

/* Variables */
$colorWhite: #ffffff;
$colorDarkBlue: #153b5c;
$colorSkyBlue: #d7daf9;
$colorBlack: #333333;
$colorLightBlue: #bbbdf3;
$colorOrange: #fffc99;
$colorViolet: #5e639e;
$colorDarkOrange: #ffb454;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

// Estilos de modal
.custom-modal .mat-dialog-container {
  border-radius: 20px !important;
  max-width: 100%;
}
