/* Variables */
$colorWhite: #ffffff;
$colorDarkBlue: #153b5c;
$colorSkyBlue: #d7daf9;
$colorBlack: #333333;
$colorLightBlue: #bbbdf3;
$colorOrange: #fffc99;
$colorViolet: #5e639e;
$colorDarkBlue: #ffb454;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

